body {
    padding: 40px;
}
th {
    width: 100px;
}

.block {
    width: 100px;
    height: 100px;
    margin: 15px 0;

    /* Helps Firefox with anti-aliasing */
    outline: 1px solid transparent;
}

.orange {
    background-color: orange;
}

.purple {
    background-color: purple;
}
