body {
    margin: 0;
    padding: 0;
    background-color: #3e3e3e;
    padding: 10px;
}

#stage {
    position: relative;
    height: 602px;
    width: 855px;
    z-index: 0;
    overflow: hidden;
    text-overflow: clip;
    background-color: #1A0B1A;
    background-size: 100% 100%;
    opacity:1;
    border: 1px solid #1A0B1A;
}

#stage > div {
    position: absolute;
    margin: 0px;
    right: auto;
    bottom: auto;
    left: 0px;
    background-color: rgba(0, 0, 0, 0);
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

.hidden {
    display: none;
}

.scaled {
    width: 100%
}

#stage > div#grid {
    top: 75px;
    left: 0px;
    width: 855px;
    height: 528px;
    background-image: url(http://localhost:8080/assets/images/pharrell/grid.png);
}
#stage > div#header {
    top: 0px;
    width: 100%;
    height: 74px;
    background-image: url(http://localhost:8080/assets/images/pharrell/header.png);
}

#stage > div#tile, #stage > div.tile {
    left:517px;
    top: 303px;
    width: 338px;
    height: 299px;
    background-image: url(http://localhost:8080/assets/images/pharrell/album.png);
    cursor: zoom-in;
}

#stage div#nowPlaying {
    left: 105px;
    top: 549px;
    width: 642px;
    height: 55px;
    background-image: url(http://localhost:8080/assets/images/pharrell/nowPlaying.png);
    -webkit-box-shadow: 0px -3px 22px 5px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px -3px 22px 5px rgba(0,0,0,0.27);
    box-shadow: 0px -3px 22px 5px rgba(0,0,0,0.27);
    border:none;
}

#details {
    top: 0px;
    left: 0px;
    width: 855px;
    height: 602px;
    overflow: hidden;
    cursor: zoom-out;
    display:none;
}

#details div.content {
    position: relative;
    width:855px;
    height:528px;
}

.content > div {
    position: absolute;
    margin: 0px;
    right: auto;
    bottom: auto;
    left: 0px;
    background-color: rgba(0, 0, 0, 0);
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

.content > #circle {
    left: 492px;
    top: 279px;
    width: 338px;
    height: 338px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fec003;
}


.content > div#artist {
    opacity:0;
    left:-1px;
    top: 20px;
    width: 857px;
    height: 584px;
    background-image: url(http://localhost:8080/assets/images/pharrell/pharrell.png);
    border:none;
}

.content > div#status {
    margin-top: -1px;
    opacity:0;
    left: 0px;
    top: 0px;
    width: 855px;
    height: 21px;
    background-image: url(http://localhost:8080/assets/images/pharrell/header_reveal.png);
    border:none;
}



#album {
    display: none;
    left:517px;
    top: 303px;
    width: 338px;
    height: 299px;
    background-image: url(http://localhost:8080/assets/images/pharrell/album.png);
}

.content > div#playlist {
    position: absolute;
    margin:0px;
    padding:0px;
    overflow: hidden;
    left:320px;
    top:315px;
    width:242px;
    height:243px;
    display: none;
}

.content > div#playlist > *{
    border: none;
}

.shadow {
    background-image: url(http://localhost:8080/assets/images/pharrell/nowPlaying.png);
    -webkit-box-shadow: 0px -3px 22px 5px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px -3px 22px 5px rgba(0,0,0,0.27);
    box-shadow: 0px -3px 22px 5px rgba(0,0,0,0.27);
}

#playlist > img {
    margin-top: -1px;
    margin-left: -1px;
}


